@model IEnumerable<Asp.NetProject.Models.Owner>

@{
    ViewData["Title"] = "Index";
}
<p>
    <a asp-action="Create">Create New</a>
</p>
@if (ViewBag.SMeesage != null)
{

    <div id="successMessage" class="alert alert-success">@ViewBag.SMeesage </div>
}
@if (ViewBag.EMessage != null)
{
    <div id="errorMessage" class="alert alert-primary">@ViewBag.EMessage</div>
}
<table class="table table-bordered table-hover table-responsive text-nowrap">
    <thead>
        <tr>
            <th>
                Name
            </th>


            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <strong>
                        @Html.DisplayFor(modelItem => item.FirstName)
                        @Html.DisplayFor(modelItem => item.LastName)
                    </strong>

                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.PostalCode)
                </td>


                <td>
                    <img src="../images/@Html.DisplayFor(modelItem => item.Image)" style="width:100px; height:100px" />
                </td>
                <td>

                    <a asp-action="UpdateOwner" asp-route-id="@item.OwnerId" class="btn btn-info btn-sm">Edit</a> |
                    <a asp-action="OwnerDetail" asp-route-id="@item.OwnerId" class="btn btn-success btn-sm">Detail</a> |
                    <a asp-action="DeleteOwner" asp-route-id="@item.OwnerId" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {
    <script>
        // Function to hide success message after 5 seconds
        window.setTimeout(function () {
            $("#successMessage").fadeTo(100, 0).slideUp(100, function () {
                $(this).remove();
            });
        }, 1000);

        // Function to hide error message after 5 seconds
        window.setTimeout(function () {
            $("#errorMessage").fadeTo(100, 0).slideUp(100, function () {
                $(this).remove();
            });
        }, 1000);
    </script>
}