@model Asp.NetProject.Models.Owner

@{
    ViewData["Title"] = "OwnerDetail";
}
<div class="col-md-7">
    <h1 class="text-center "><strong>Owner Detail</strong></h1>
</div>
<div class="container">
    <table class="table">
        <tbody>
            <tr>
                <th>First Name</th>
                <td>@Html.DisplayFor(model => model.FirstName)</td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td>@Html.DisplayFor(model => model.LastName)</td>
            </tr>
            <tr>
                <th>Date of Birth</th>
                <td>@Html.DisplayFor(model => model.DateOfBirth)</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>@Html.DisplayFor(model => model.Gender)</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>@Html.DisplayFor(model => model.Email)</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>@Html.DisplayFor(model => model.Phone)</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>@Html.DisplayFor(model => model.Address)</td>
            </tr>
            <tr>
                <th>City</th>
                <td>@Html.DisplayFor(model => model.City)</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>@Html.DisplayFor(model => model.Country)</td>
            </tr>
            <tr>
                <th>Postal Code</th>
                <td>@Html.DisplayFor(model => model.PostalCode)</td>
            </tr>

            <tr>
                <th>Image</th>
                <td><img src="~/images/@Html.DisplayFor(model=>model.Image)" style="width: 110px; height:100px" ; /></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-md-5 mt-3">
        <a asp-action="Home" asp-controller="Store" asp-route-id="@Model?.OwnerId" class="btn btn-outline-info btn-sm">back</a> |
        <a asp-action="UpdateOwner" asp-route-id="@Model?.OwnerId" class="btn btn-outline-info btn-sm">Edit</a> |
        <a asp-action="DeleteOwner" asp-route-id="@Model?.OwnerId" class="btn btn-outline-info btn-sm">Delete</a>
    </div>

</div>

