@model IEnumerable<Asp.NetProject.Models.Department>

@{
    ViewData["Title"] = "Index";
}


@if (ViewBag.SMeesage != null)
{
    <div class=" row">
        <div id="successMessage" class="alert alert-success col-4">@ViewBag.SMeesage</div>
    </div>
}

@if (ViewBag.EMessage != null)
{
    <div class="row">
        <div id="errorMessage" class="alert alert-primary col-4">@ViewBag.EMessage</div>
    </div>
}
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Store)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedAt)
                </td>
                @* <td>@Html.DisplayFor(modelItem => item.StoreId) </td>*@
                <td>
                    <a asp-action="Update" asp-route-id="@item.DepartmentId">Edit</a> |
                    <a asp-action="Detail" asp-route-id="@item.DepartmentId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.DepartmentId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {
    <script>
        // Function to hide success message after 5 seconds
        window.setTimeout(function () {
            $("#successMessage").fadeTo(100, 0).slideUp(100, function () {
                $(this).remove();
            });
        }, 1000);
        // Function to hide error message after 5 seconds
        window.setTimeout(function () {
            $("#errorMessage").fadeTo(100, 0).slideUp(100, function () {
                $(this).remove();
            });
        }, 1000);
    </script>
}