@model IEnumerable<Asp.NetProject.Models.Store>

@{
    ViewData["Title"] = "Index";
}

<div id="createBtn">
    <a asp-action="AddStore" class="mt-2 mb-2 btn btn-secondary btn-sm"><strong>Create New Store</strong></a>

</div>

<div id="profileBtn">
    <a asp-action="OwnerDetail" asp-controller="Owner" asp-route-id="@ViewBag.OwnerId" class="mt-2 mb-2 btn btn-secondary btn-sm">Manage Profile</a>
</div>



@if (ViewBag.SMeesage != null)
{
    <div class=" row">
        <div id="successMessage" class="alert alert-success col-4">@ViewBag.SMeesage</div>
    </div>
}

@if (ViewBag.EMessage != null)
{
    <div class="row">
        <div id="errorMessage" class="alert alert-primary col-4">@ViewBag.EMessage</div>
    </div>
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title cardTitle">@item.StoreName</h5>
                    <p class="card-text">@item.Description</p>
                    <p class="card-text"><strong>Location:</strong> @item.City @item.Country</p>
                    <p class="card-text"><strong>Phone:</strong> @item.Phone </p>
                    <div id="btn">
                        <a asp-action="UpdateStore" asp-route-id="@item.StoreId" class="btn btn-info btn-sm">Edit</a> |
                        <a asp-action="StoreDetail" asp-route-id="@item.StoreId" class="btn btn-success btn-sm">Details</a> |
                        <a asp-action="StoreDetail" asp-route-id="@item.StoreId" class="btn btn-success btn-sm">Manage</a> |
                        <a asp-action="DeleteStore" asp-route-id="@item.StoreId" class="btn btn-danger btn-sm">Delete</a>
                    </div>
                </div>
            </div>
        </div>

    }
</div>

<!-- CSS for hover effect -->
<style>
    .cardTitle {
        text-align: center;
        font-weight: bold;
    }

    #createBtn {
        text-align: center;
    }

    #btn {
        text-align: center;
    }

    .card:hover {
        box-shadow: 5px 8px 12px 0 rgba(230, 184, 85);
        transition: 0.30s;
    }
</style>
@section Scripts {
    <script>
        // Function to hide success message after 5 seconds
        window.setTimeout(function () {
            $("#successMessage").fadeTo(100, 0).slideUp(100, function () {
                $(this).remove();
            });
        }, 1000);

        // Function to hide error message after 5 seconds
        window.setTimeout(function () {
            $("#errorMessage").fadeTo(100, 0).slideUp(100, function () {
                $(this).remove();
            });
        }, 1000);
    </script>
}