@model IEnumerable<Asp.NetProject.Models.Store>

@{
    ViewData["Title"] = "Manage";
    IEnumerable<Department> departments = ViewBag.Department as IEnumerable<Department>;
    IEnumerable<Employee> employees = ViewBag.Employee as IEnumerable<Employee>;
}

@if (ViewBag.SMessage != null)
{
    <div class=" row">
        <div id="successMessage" class="alert alert-success col-4">@ViewBag.SMessage</div>
    </div>
}

@if (ViewBag.EMessage != null)
{
    <div class="row">
        <div id="errorMessage" class="alert alert-primary col-4">@ViewBag.EMessage</div>
    </div>
}

<h2 class="headingTitle">Manage Departments </h2>
<a asp-action="Create" asp-controller="Department" asp-route-id="@ViewBag.StoreId" class="btn btn-outline-success btn-sm">Create Department</a>
<div class="row">
    @foreach (var department in departments)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><strong>@department.DepartmentName Department</strong></h5>
                    <p class="card-text">@department.Description</p>
                    <a asp-action="Detail" asp-controller="Department" asp-route-id="@department.DepartmentId" class="btn btn-outline-success btn-sm">Manage</a>
                    <a asp-action="Index" asp-controller="Product" asp-route-id="@department.DepartmentId" class="btn btn-outline-success btn-sm">Products</a>
                    <a asp-action="Index" asp-controller="ProductCategory" class="btn btn-outline-success btn-sm">Product Category</a>
                </div>
            </div>
        </div>
    }
</div>
<hr />
<h2 class="headingTitle">Manage Employees</h2>
<a asp-action="Create" asp-controller="Employee" asp-route-id="@ViewBag.StoreId" class="btn btn-outline-success btn-sm">Create Employee</a>
<div class="row">
    @foreach (var employee in employees)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><strong>@employee.FirstName @employee.LastName</strong></h5>
                    <p class="card-text">@employee.Role.RoleName</p>
                    <a asp-action="Update" asp-controller="Employee" asp-route-id="@employee.EmployeeId" class="btn btn-outline-success btn-sm">Edit</a>
                    <a asp-action="Detail" asp-controller="Employee" asp-route-id="@employee.EmployeeId" class="btn btn-outline-success btn-sm">Detail</a>
                    <a asp-action="Delete" asp-controller="Employee" asp-route-id="@employee.EmployeeId" class="btn btn-outline-success btn-sm">Delete</a>
                </div>
            </div>
        </div>
    }

</div>
<a asp-action="Index" asp-controller="Store" asp-route-id="@ViewBag.OwnerId" class="btn btn-outline-success btn-sm">Back</a>
<style>

    .headingTitle {
        text-align: center;
        margin-top: 1px;
        color: cornflowerblue;
    }

    .btn {
        margin-bottom: 4px;
    }
</style>

@section Scripts {
    <script>
        // Function to hide success message after 5 seconds
        window.setTimeout(function () {
            $("#successMessage").fadeTo(100, 0).slideUp(100, function () {
                $(this).remove();
            });
        }, 1000);

        // Function to hide error message after 5 seconds
        window.setTimeout(function () {
            $("#errorMessage").fadeTo(100, 0).slideUp(100, function () {
                $(this).remove();
            });
        }, 1000);
    </script>
}