@model Asp.NetProject.Models.Store

@{
    ViewData["Title"] = "StoreDetail";
}

<h1 class="text-center">Store Detail</h1>


    <div class="table-responsive"id="table">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th class="col-2">Store Name</th>
                    <td>@Html.DisplayFor(model => model.StoreName)</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>@Html.DisplayFor(model => model.Description)</td>
                </tr>
                <tr>
                    <th>Location</th>
                    <td>@Html.DisplayFor(model => model.Location)</td>
                </tr>
                <tr>
                    <th>City</th>
                    <td>@Html.DisplayFor(model => model.City)</td>
                </tr>
                <tr>
                    <th>Country</th>
                    <td>@Html.DisplayFor(model => model.Country)</td>
                </tr>
                <tr>
                    <th>Phone</th>
                    <td>@Html.DisplayFor(model => model.Phone)</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>@Html.DisplayFor(model => model.Email)</td>
                </tr>
                <tr>
                    <th>Website</th>
                    <td>@Html.DisplayFor(model => model.Website)</td>
                </tr>

                <tr>
                    <th>Created At</th>
                    <td>@Html.DisplayFor(model => model.CreatedAt)</td>
                </tr>
                <tr hidden>
                    <th>Updated At</th>
                    <td>@Html.DisplayFor(model => model.UpdatedAt)</td>
                </tr>
                <tr>
                    <th>Profit</th>
                    <td>@Html.DisplayFor(model => model.Profit)</td>
                </tr>
                <tr>
                    <th>Logo</th>
                    <td>
                        <img src="~/images/@Html.DisplayFor(model => model.Logo)" style="width: 110px; height: 100px;" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


<div>
    <a asp-action="UpdateStore" asp-route-id="@Model?.StoreId" class="btn btn-info btn-sm">Edit</a> |
    <a asp-action="Index" class="btn btn-outline-secondary btn-sm">Back</a>
</div>

<style>

    #table{
        background-color:azure;
    }
</style>