@model Asp.NetProject.Models.Product

@{
    ViewData["Title"] = "Detail";
}

<h1 class="text-center">Product Detail</h1>
<hr />

<div id="mainContainer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <dl>
                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Formula)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Formula)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                    <dt>
                        <strong>Sale Price</strong>
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Price)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.MfgDate)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.MfgDate)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.ExpDate)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ExpDate)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.StockQuantity)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.StockQuantity)
                    </dd>
                </dl>
            </div>
            <div class="col-sm-6">
                <dl>
                    <dt>
                        <strong>Image</strong>
                    </dt>
                    <dd>
                        <img src="~/images/@Html.DisplayFor(model => model.ImagePath)" style="width: 110px; height: 100px;" />
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.CreatedAt)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.UpdatedAt)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.UpdatedAt)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.UpdatedAt)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.PurchasePrice)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.PurchasePrice)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Category)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Category.CategoryName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Department)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Department.DepartmentName)
                    </dd>
                </dl>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <a asp-action="Update" asp-route-id="@Model?.ProductId" class="btn btn-outline-info">Edit</a>
            </div>
            <div class="col-sm-6">
                <a asp-action="Delete" asp-route-id="@Model?.ProductId" class="btn btn-outline-info">Delete</a>

            </div>
        </div>
    </div>
</div>
<a asp-action="Index" asp-controller="Product" asp-route-id="@ViewBag.DepartmentId" class="btn btn-outline-info">Back</a>
<style>

    #mainContainer{
        text-align:center;
    }
</style>