@model IEnumerable<Asp.NetProject.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Products List</h1>

@if (ViewBag.SMessage != null)
{
    <div class="alert alert-success">@ViewBag.SMessage</div>
}
@if (ViewBag.EMessage != null)
{
    <div class="alert alert-dabger">@ViewBag.EMessage</div>
}

<p>
    <a asp-action="Create" class="btn btn-outline-info">Create New Product</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
@Html.DisplayNameFor(model =>model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MfgDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockQuantity)
            </th>

            <th>
                Product
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchasePrice)
            </th>
             <th>
            @Html.DisplayNameFor(model => model.Department)
        </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MfgDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StockQuantity)
                </td>

                <td>
                    <img src="/images/@Html.DisplayFor(modelItem => item.ImagePath)" style="width:100px; height:100px" />
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.PurchasePrice)
                </td>
                 <td>
            @Html.DisplayFor(modelItem => item.Department.DepartmentName)
        </td>

                
                <td>
                    <a asp-action="Update" asp-route-id="@item.ProductId" class="btn btn-outline-success">Edit</a> |
                    <a asp-action="Detail" asp-route-id="@item.ProductId" class="btn btn-outline-warning">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProductId" class="btn btn-outline-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
