@model Asp.NetProject.Models.Product

@{
    ViewData["Title"] = "Update";
    IList<ProductCategory> Listcategories = ViewBag.ListCategories;
    SelectList AllCategories = new SelectList(Listcategories, "CategoryId", "CategoryName");
}


@if (ViewBag.SMessage != null)
{
    <div id="successMessage" class="alert alert-success ">@ViewBag.SMessage</div>
}

@if (ViewBag.EMessage != null)
{
    <div id="errorMessage" class="alert alert-warning">@ViewBag.EMessage</div>
}
<h1 class="text-center"><strong>Update Product Info</strong></h1>
<hr />
<div id="formBody">

    <form asp-action="Update">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ProductId" />

        <div class="form-group row">
            <div class="col">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="col">
                <label asp-for="Formula" class="control-label"></label>
                <input asp-for="Formula" class="form-control" />
                <span asp-validation-for="Formula" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="col">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

        </div>
        <div class="form-group row">
            <div class="col">
                <label asp-for="MfgDate" class="control-label"></label>
                <input type="date" asp-for="MfgDate" class="form-control" />
                <span asp-validation-for="MfgDate" class="text-danger"></span>
            </div>
            <div class="col">
                <label asp-for="ExpDate" class="control-label"></label>
                <input type="date" asp-for="ExpDate" class="form-control" />
                <span asp-validation-for="ExpDate" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col">
                <label asp-for="StockQuantity" class="control-label"></label>
                <input asp-for="StockQuantity" class="form-control" />
                <span asp-validation-for="StockQuantity" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <!---->
            <div class="col-md-4">
                <label asp-for="ImageFile" class="control-label">Change Picture</label>
                <input type="file" asp-for="ImageFile" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
                <input type="hidden" name="originalImage" value="@Model.ImagePath" />


            </div>
            <div class="col-md-2">
                @if (!string.IsNullOrEmpty(Model.ImagePath)) // Check if Image exists
                {
                    <img src="~/images/@Model.ImagePath" style="width: 110px; height:100px" />
                }
            </div>
            <!---->
           
            <div class="col">
                @Html.DropDownListFor(model => model.CategoryId, AllCategories, "Choose a category", new { @class = "form-control inout-sm" })
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
        </div>



        <div class="form-group">
            <label asp-for="PurchasePrice" class="control-label"></label>
            <input asp-for="PurchasePrice" class="form-control" />
            <span asp-validation-for="PurchasePrice" class="text-danger"></span>
        </div>
                 <div class="form-group">
                <label asp-for="DepartmentId" class="control-label"></label>
                <input asp-for="DepartmentId" class="form-control" asp-items="@ViewBag.DepartmentId">
                <span asp-validation-for="DepartmentId" class="text-danger"></span>
            </div>
        <div class="form-group text-center">
            <input type="submit" value="Save" class="btn btn-outline-info" />
        </div>
    </form>

</div>
<a asp-action="Index" asp-controller="Product" asp-route-id="@ViewBag.DepartmentId" class="btn btn-outline-info">Back</a>

<style>

    #formBody {
        background-color: azure;
        border-block-color: black
    }

    .btn {
        text-align: center;
    }
</style>

@section Scripts {




        <script>
        // Function to hide success message after 5 seconds
        window.setTimeout(function () {
            $("#successMessage").fadeTo(100, 0).slideUp(100, function () {
                $(this).remove();
            });
        }, 1000);

        // Function to hide error message after 5 seconds
        window.setTimeout(function () {
            $("#errorMessage").fadeTo(100, 0).slideUp(100, function () {
                $(this).remove();
            });
        }, 1000);
        </script>
    
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
