@model IEnumerable<Asp.NetProject.Models.Sale>

@{
    ViewData["Title"] = "Index";
}
<h2 class="text-center">All Sales</h2>
<p>
    <a asp-action="AddSale">Add New Sale</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TotalAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.FirstName)
            </td>
            <td>
                <a asp-action="Update" asp-route-id="@item.SaleId" class="btn btn-outline-info">Edit</a> |
                <a asp-action="Detail" asp-route-id="@item.SaleId" class="btn btn-outline-primary">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SaleId" class="btn btn-outline-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
