@model IEnumerable<Asp.NetProject.Models.ProductCategory>

@{
    ViewData["Title"] = "Index";
}


@if (ViewBag.SMeesage != null)
{

    <div id="successMessage" class="alert alert-success">@ViewBag.SMeesage </div>
}
@if (ViewBag.EMessage != null)
{
    <div id="errorMessage" class="alert alert-primary">@ViewBag.EMessage</div>
}

<div class="row">
    <a asp-action="Create" class="btn btn-outline-success mb-4 mt-3 ml-2">Create New</a>
    <h1 class="text-center col"><strong>All Categories</strong></h1>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CatCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CatSerial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CatCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CatSerial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedAt)
                </td>
                <td>
                    <a asp-action="Update" asp-route-id="@item.CategoryId" class="btn btn-sm btn-outline-info">Edit</a> |
                    <a asp-action="Detail" asp-route-id="@item.CategoryId" class="btn btn-sm btn-outline-warning">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CategoryId" class="btn btn-sm btn-outline-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Manage" asp-controller="Store" asp-route-id="@ViewBag.StoreId" class="btn btn-outline-success">Back</a>


@section Scripts {
    <script>
        // Function to hide success message after 5 seconds
        window.setTimeout(function () {
            $("#successMessage").fadeTo(100, 0).slideUp(100, function () {
                $(this).remove();
            });
        }, 1000);

        // Function to hide error message after 5 seconds
        window.setTimeout(function () {
            $("#errorMessage").fadeTo(100, 0).slideUp(100, function () {
                $(this).remove();
            });
        }, 1000);
    </script>
}